{
  "powerbi_api": 
  {
    "tenant_id": "tenant",
    "client_id": "client",
    "client_secret": "secret"
  },
  
  "dbDrogamais": 
  {
    "user": "usuario",
    "password": "senha",
    "host": "host",
    "port": 3306,
    "database": "dbDrogamais",
    "read_timeout": 300,
    "write_timeout": 300 
  },

  "dbSults": 
  {
    "user": "usuario",
    "password": "senha",
    "host": "host",
    "port": 3306,
    "database": "dbSults",
    "read_timeout": 300,
    "write_timeout": 300
  },

  "drogamais": 
  {
    "user": "usuario",
    "password": "senha",
    "host": "host",
    "port": 3306,
    "database": "drogamais",
    "read_timeout": 300,
    "write_timeout": 300
  }
}