{
  "powerbi_api": 
  {
    "tenant_id": "SEU_TENANT_ID_AQUI",
    "client_id": "SEU_CLIENT_ID_AQUI",
    "client_secret": "SEU_CLIENT_SECRET_AQUI"
  },

  "defaults": {
    "user": "SEU_USUARIO_DROGAMAIS",
    "password": "SUA_SENHA_DROGAMAIS",
    "host": "SEU_HOST_DROGAMAIS",
    "port": 3306,
    "read_timeout": 900,
    "write_timeout": 900
  },

  "dbDrogamais": {
    "$extends": "defaults",
    "database": "dbDrogamais"
  },

  "dbSults": {
    "$extends": "defaults",
    "database": "dbSults"
  },

  "drogamais": {
    "$extends": "defaults",
    "database": "drogamais"
  }
}